root = true

[Assets/Scripts/**/*.cs]
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = false:warning
csharp_style_var_elsewhere = false:warning
csharp_prefer_braces = true:warning
dotnet_diagnostic.IDE0008.severity = warning
dotnet_diagnostic.IDE0011.severity = warning
